<div class="container">
  <h1>Novo aluno</h1>
  <br>
  <%= simple_form_for @student do |f| %>
    <%= f.input :name, label: 'Nome' %>
    <%= f.input :register_number, label: 'Numero de registro' %>
    <%= f.input :status %>
    <%= f.button :submit, 'Cadastrar Aluno' %>
  <% end %>
</div>
