<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <%= link_to 'Cadastrar novo aluno', new_student_path, class: 'navbar-brand' %>
        <%= link_to 'Lista de alunos', students_path, class: 'navbar-brand' %>
        <%= link_to 'Cadastrar novo curso', new_course_path, class: 'navbar-brand' %>
        <%= link_to 'Lista de cursos', courses_path, class: 'navbar-brand' %>
        <%= link_to 'Nova matricula', new_classroom_path, class: 'navbar-brand' %>
      </ul>
    </div>
  </div>
</nav>
