<div class="container">
  <h1>Novo curso</h1>
  <br>
  <%= simple_form_for @course do |f| %>
    <%= f.input :name, label: 'Nome' %>
    <%= f.input :description, label: 'Descrição' %>
    <%= f.input :status %>
    <%= f.button :submit, 'Cadastrar Curso' %>
  <% end %>
</div>
